<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CriaAvaliacao</servlet-name>
        <servlet-class>org.exemplo.adriano.atividade06.CriaAvaliacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>org.exemplo.adriano.atividade06.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcessaJsp</servlet-name>
        <servlet-class>org.exemplo.adriano.atividade06.AcessaJsp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CriaAvaliacao</servlet-name>
        <url-pattern>/criar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcessaJsp</servlet-name>
        <url-pattern>/adiciona</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
